// /*********************************************新版*********************************************/
@mainBackground: #F5F7FA;
@commonBackground: #FFFFFF;
@titleFontColor: #333333;
@lableFontColor: #666666;
@contentfontColor: #666666;
@headerBottomBackground: #FFFFFF;
@headerMarqueeBackground: #E9EBEC;
@buttonBackground: #0876F8;
@commonBorderColor: #E8ECF4;

// *********table*********
@tdHoverSelected: rgba(225, 239, 255, 0.6);
@expandedCell: #FFFFFF;
@tdBorderBottom: rgba(222, 222, 222, 0.6);
@thBackgroud: #F6F8FC;
@tableBackground: #FFFFFF;

// *********echarts*********
@miniboxNumFontColor: #333333;
@miniboxContentFontColor: #666666;

// *********input*********
@inputBorderColor: #CECECE;
@placeHolderColor: #A0A1A5;

// *********nav_menu*********
@menuBackground: #142547;
@menuSubmenuColor: #FFFFFF;
@munuSelectedBackground: rgba(8, 121, 255, 0.96);

// *********pagination*********
@pageTotalColor: #666666;
@pageLiColor: #666666;
@pageLiBackground: #E6E9F2;
@pageLiActiveColor: #FFFFFF;
@pageLiActiveBackground: #0876F8;
@pageInputBorder: rgba(69, 116, 233, 0.27);

// // *********select-dropdown *********
@selectBackground: #FFFFFF;
@selectItemColor: #666666;
@selectHoverColor: #666666;
@selectHoverBackground: #F0F4FA;
@selectedColor: #666666;
@selectedBackground: #F0F4FA;
